.edit {
    border: 1px solid #ccc;
    padding: 2px 6px;
    width: 25%;
    min-width: 305px;
}

.edit:focus {
    outline: none;
}

.footer {
    background-color: #be0201;
    width: 100%;
    color: white;
}

.footerp {
    padding: 6px 12px;
}

/* Style the tab content */
.tabcontent {
    margin: 12px 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabcontent-headings {
    padding: 6px 12px;
    background-color: #be0201;
    margin-bottom: 0px;
    color: white;
    border-radius: 10px;
}

.tabcontent-content {
    padding: 6px 18px;
    background-color: #ececec;
    margin-bottom: 0px;  
    border-radius: 10px; 
}

.none-Selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}